

2012-03-25 1.1版本更新 增加IAP
- [美术]制作技能点数图片，IAP购买，成功，失败窗口。IAP connection动画。
- [程序]添加IAP支付。



2012-03-12 1.1版本更新，Lite版        by Waigo

第一步：
OK - 先把菜单一些对话框和背景分离。准备好那些文字与背景分离的图片。
OK		Menu2_1_1 unlock/     
		    对话框背景图片:   Common/Menu_Dialog_bg.png
		    对话框内的文字，金币图片：Menu2_1_1 unlock/new/目录下
		
OK		Menu2_2 skillpoints/upgrade_box
		     对话框背景图片:   Common/Menu_Dialog_bg.png
		     对话框内的文字，金币图片：Menu2_2 skillpoints/upgrade_box/new目录下
		
		
OK		Menu2_1_0_unlock_tips
		      游戏开始时候解锁2个球员
		      /new/目录下
		
OK- [程序] 重新build所有的Atlas，减少冗余。


第二步：
OK- [美术] Get Full Version 按钮，在MainMenu界面，放在Single Player按钮下面。
OK- [美术] Get Full Version 对话框。包括[Get Full Version] [Later] 按钮。
OK- [程序]将项目复制一份，变成Soccer Fighter Lite 版。上传到服务器。
OK- [程序]制作一个通用FullVersion对话框 This Function Only Available On Full Version. [Get Full Version] [Later]
OK- [程序]Soccer Liter版， 只在一开始开放2个人物，不能购买。点人物的锁则弹出FullVersion对话框
OK- [程序]Soccer Liter版 对手只有7个人物：梅西，C罗，卡卡。到第八个人的时候，Game场景会弹出FullVersion对话框。
OK- [程序]7个对手的数值都适当调低一些，让免费版的用户踢得很顺畅







2012-01-01 by Waigo
- OK [程序]第9关，巴乔，跳跃频率太高，很滑稽。改正常点比较好。待商定。
- OK [程序]左右移动的操控杆，在iPad上，参数需要调整一下。左手拇指伸到最长，按下去依然是向左。 
- ?? [Bug]联网对战，JoinGame的一方不能按Menu菜单退出游戏。
- OK [Bug]禁音以后，还是有按键声。
- OK [策划]射球力度太大，反弹力度也大，导致摄像机拉得太快。小小罗那一关以后的对手都比较变态。适当调简单些。
- [美术]显示完Goodwe Logo之后的Loading菜单，和Game场景的Loading重合。应该将前者替换成另外一副图。


2011-12-31 by Waigo
- OK [程序] 图片在SplashScreen/目录下。做一个加载。放上合作公司的图标。我们的图标放在最前面，在iPhone项目设置的地方指定。另外新建一个SplashScreen场景，把Goodwe的标志放在里面。

- OK [程序] 改好音乐禁音的按钮。确定是否由它引起了卡死的Bug。
- OK [Bug] 右上角的大招，点击不能释放。

- OK [程序] Network的帮助，弹出一张图片，有Close按钮。
- OK [程序] 有些图片和文字很模糊。把它们放到不同的素材。前景和背景放入不同素材里。

- [Bug] 断网的时候会死。
- OK [程序] 右下角的按钮位置不平整，踢球按钮略高一点。

- OK [程序] 把所有关卡的金钱数。调整成为原来三分之一左右，现在太容易赚钱了，半小时就赚500块。经验值也调高一些。
我们的之前估算得不对，用户很可能只会买1~2个人物，一件球衣，1个足球，加起来也就1500块钱。
用户每玩一次这个游戏假设半小时，能打15场左右。让用户每场能赚3~15个金币就好，最后几关才能赚到15个金币。
还有经验值也升太快了，我一个朋友玩不到一个小时就几乎升满级。我们得考虑经验值按2,4,8,16,32...几何级别递增才行。

- Prepare 比赛时，把摄像机距离再靠近一点，让人物变得比现再大（让3D角色的高度大概占屏幕高度的 2/5）。





2011-12-29 by Waigo
- OK 增加网络的提示帮助help_network.png, 用Panel显示，再加上一个Close按钮。


2011-12-27 by Waigo

- OK [程序]增加3个道具图片。green_20, green_40, green_60，足球碰到后，分别给最后触球的人增加20，40，60点能量，满100则按100算。使用后能量清零。
- Reject [程序]增加1个道具图片，yellow_time，触碰后时间+15秒。

- OK [程序]增加冰块模型Ice.fbx。吃到冰块道具的时候，整个人被冰块封住。
- OK [程序]更新了ui_help_02,ui_help_03的图片。另外程序改成：发大招时，就算球在身后的一小范围内，大招同样可以发出。
- OK [程序]更新了loading.png图片。这是一幅小图，把它放到跟按钮一起的Atlas里，这样能确保更加清晰。
                 Loading场景的摄像机背景改为Solid Color, 纯黑色。

- OK [程序] 游戏结束时，Win窗口中的金币和经验值图标，很模糊，是不是atlas里gen mipmap打开了？还是没有放到高清的Atlas里？                  
- OK [程序] 左边的球门位置稍微越界了，请摆放回边界之外。
- [程序] 联网对战，显示服务器列表时，只需显示已经有的数据以及Join按钮，其余不需要显示。或者说Join按钮不需要显示。
- OK [程序] 当前的视角，人物不必旋转135度了，改为旋转120度试试，也就是30度朝向观众。

- OK [程序] (待讨论)摄像机目前是根据足球的y轴来决定是否拉远，是否改成判断“足球与我的角色之间的距离”比较好？
         因为经常会出现摄像机光照着足球了，而我方的角色在屏幕之外。这个结合联网，好不好改？
- [程序] (待讨论)联网时会刷出古怪的ip，所以当用户退出的时候是否得清理IP地址，或者说定时清理，如果不好做那就先不管了。
- [策划] (待讨论)对战中经常发生的事情是双方到最后10秒都有一个大招，比较千篇一律。
         考虑改进的办法：
         OK 1.网络对战，比赛时间改为90秒。  
         OK 2.增加3种聚气道具，足球碰到后，己方的聚气增加20/40/60。         
- [程序] (待讨论)客户端比主机卡，有点明显，看能否改进。
- OK [bug]双方同时发大招有时候会导致一方死机，这个目前不确定可以重现bug。

- OK [美术] 7_2/7_22_join game.png，里面的单词改为JOINING GAME，记得更新图片。
- OK [美术] ui_help_03.png，道具的帮助提示，在Level2开始的时候弹出。



2011-12-27 by XuMingzhao
- OK 7_1/startornot.png [美术] server同意client连接与否的对话框，两个按钮。MainMenu.Scene\MenuGUI\windowManager\permitPanel
- OK 7_2/theotherhasleft.png [美术] 游戏中断开连接的对话框，返回主菜单按钮。 GameNetWork.Scene\GUI\PanelManager\AnotherLeftPanel

2011-12-24 by Waigo
- OK [美术] Multi Player菜单点UI图片。
- OK [程序] Multi Player菜单逻辑。
- [程序] GameNetwork场景，结束后点Win或者Fail菜单，只显示比分和BackToMenu按钮。
- [程序] GameNetwork场景，足球场换成最新点球场。
- (待定) [美术]放大招时的特写效果。在全黑点画面周围都放上一层速度线的图片。/_Artwork/effects/目录
         我个人感觉并不是特别必要，另外可以使用我们以前TapTap那个游戏主菜单的粒子特效。



2011-12-19 by Waigo
- OK [程序]玩家第一次进入游戏时候，解锁两个角色给玩家。先后两次弹出提示框。图片：GUI/Menu2_1_0_unlock_tips/目录
    unlock_tips两张相同的图片。
- OK[美术] 选择关卡节面，关卡排列得更加紧密。上面加一行标题： Level Select     
- OK[美术] txt_level_select.png, 放在关卡选择界面的最上方
- OK[美术] MenuCredit，关于我们的图片。


- [美术] 道具帮助提示对话框，在第二关一开始出现。
- Prepared[美术] 制作一个喇叭的按钮，xxx_f2.png 按下状态，xxx_disabled.png 禁音状态(图片上打一个大X)。
- OK [美术] 整个游戏Icon图标的边缘太粗了，建议改细一点。




2011-12-19 by XuMingzhao
- OK [程序] 加入关卡调节道具出现频率的逻辑。
- OK [程序] 加入调试控制台。

2011-12-17 by Waigo
- Reject [待定...]左边的控制手柄改成圆形或者是半圆形，让它直接控制移动和跳跃，这样的话玩家可以不用太关注右手，右边按钮只控制射球和大招。
           但这样一来每次跳跃都是手指向上划，跳完还得松手。
           另外是否要提供下落加速的功能，到后期跳跃的高度升高以后，落地反而变慢了。
- [程序]教学关。
        新增两关教学关，让某两名角色穿上训练球衣。
        教学关1：对手站在球门前一米外，AI只负责跳跃。这一关开始的时候显示控制按钮，大招的帮助信息。
        教学关2：对手的活动范围只有整个球场的1/3。这一关开始的时候显示道具的帮助信息。
        （鉴于目前球员的顺序很多地方已经固定，先看一下改起来是否容易。）

- [美术] （待定）角色选择的界面，那三个 [<]按钮左边，放置三个图标，分别表示头像，衣服，足球。
- OK [美术] 选择关卡节面，关卡排列得更加紧密。上面加一行标题： Level Select 



2011-12-16 by Waigo
- OK [程序]玩家第一次进入游戏时候，解锁两个角色给玩家。先后两次弹出提示框。图片：GUI/Menu2_1_0_unlock_tips/目录
    unlock_tips两张相同的图片。
- OK [程序]玩家每次进入第一关(梅西)，都弹出帮助信息。 图片： /_Artwork/GUI/Menu5_1 game/UIHelp
- OK [程序]玩家点击屏幕左侧的偏右方向，自动指定角色向右走。
- OK [Bug]声音太小，在iPad上甚至听不清楚。先测试一下是否摄像机Audio Listener太远的问题。把Listener放近一些试试。
- OK [程序]金球。平局后一直显示图片： /_Artwork/GUI/Menu5_1 game/golden_goal.png
- OK [程序]大招能量满了以后，btn_big_skill_f2_full，btn_big_skill_f2_full02 这2张图片轮流闪烁。用Windows/UI Control Editor菜单可以为按钮设定动画。



2011-12-15 by Waigo
- OK [程序]每次开球时候的读秒不需要有声音，有哨声即可。 最后10秒倒数读秒。
- Reject [程序]是否考虑将聚气按钮和踢球按钮合并？
- OK [程序]发大招时，如果是敌人，背景色改为暗红色；如果是我方，背景色是黑色。
- OK [程序]如果我方发大招失败，则聚气减少一半，而不是清零。
- OK [程序]当球弹跳到球场上方时，摄像机会自动拉远距离，然后会拉回来。检测足球的高度y，当y>n时，拉远距离。
        摄像机0，0点发出一条射线，检测是否碰撞到屏幕边缘。
- OK [程序]声音同步播放：
        - 足球的碰撞声
        - 道具声 
        - 欢呼声，倒数读秒声
        - 背景音乐

目前最大的问题是球进得太快，平均每场比赛10个进球，每6秒一个。


2011-12-15 by Xu Mingzhao
- OK [程序] 每级技能改为需要的点数不同。
- [美术] 技能升级背景旁边增加NEXT:*pt的字样。
- OK [美术] 开始时随机给用户球员的的提示窗口。

2011-12-15 by Waigo
- OK[程序]每次开球的时候看不到足球，对比赛影响很大。所以球的初始位置应该改为人的两倍高度左右，斜向左上方或者右上方抛。
- OK[程序]Skill Points菜单，初始值状态下每条属性条都应该是在0的位置。（疑问：或者说令每个买来的角色各项属性都不同？？？）

- OK[程序]创建一个SoudController.cs，给它绑定一个AudioSource，用来播放音效，例如踢球，顶球等。主要一个AudioSource每次只能播放一个声音。
- OK[程序]创建一个BgSoundController.cs, 用来播放背景音乐。目前只有菜单场景的背景音乐，game场景没有背景音乐，以后可能会加上。
	[ok] ball_heading.ogg       头顶球的声音
	[ok] ball_kick.ogg          按下踢球按钮时踢球的声音
	[ok] beep_end.ogg           终场结束哨子声
	beep_normal.ogg        普通的哨子声。暂时不用，备用。
	[ok] beep_start.ogg         开场时的哨子声
	[ok] bg_menu.ogg            开始菜单的背景音乐
	[ok] click.ogg              按钮点击声
    [ok] count_down.ogg         倒数读秒的声音。噔，噔，噔，噔....共10秒
	[ok] fail.ogg               终场结束我方输的时候播放。 
	[ok] fireball_burning.ogg   大招准备的时候，摄像机旋转时的声音
	[ok] fireball_shoot.ogg     大招射出去时候的声音
	[ok] goal_or_win.ogg        我方进球时候播放，还有最后赢的时候播放。对方进球则不播放声音。
	[ok] prop_popup.ogg         道具创建时候的声音
	[ok] prop_touch.ogg         球碰到道具时的声音






2011-12-13  by Waigo

- OK [程序] 制作一个Loading的场景，摄像机为黑色背景。在SelectPlaeyer菜单点击【Go】时，先跳转到Loading场景，然后再装载Game场景。图片：_Artwork/GUI/Others/loading.png

- OK [美术]选人界面，锁的图标增加发光效果。足球的锁放在旁边，别放在整个足球上。。
- OK [美术]增加属性界面，各种属性用英文单词表示：
        进攻速度：Attack Speed     
        回防速度：Defense Speed       
        跳跃高度：Jump Height          
        熟练程度（可否设定为发大招积累的经验点？？）：Skills  

- OK [美术] 大招按钮：/_Artwork/GUI/Menu5_1 game
      btn_big_skill_normal.png   用来做大招按钮的背景图片。
      btn_big_skill_f2.png       用来做大招按钮的前景图片，图案是与背景吻合的。用progress表示能量进度条。如果与背景图不好对齐，可以考虑用btn_big_skill_f2_backup.png，这是一张尺寸与背景一模一样的图片。
      btn_big_skill_f2_full.png  当能量100%时候，用此图替换大招按钮的背景图片。外圈全变成蓝色。
  



2011-12-12
- OK [程序]当发大招足球嵌入人体时，将球移出人体。
- OK [程序]加入大招距离判定，如果失败，快速播放iTween动画。
- OK [程序]方向操纵杆逻辑。
- OK [美术]btn_control_bg.png，btn_control.png   操纵杆背景及操纵按钮
- OK [美术]提供一张石膏+X的按钮。   btn_shoot_disabled.png
- OK 改变颜色 [美术]Next Match 按钮。
- OK [程序]最后一关，Next Match按钮不必显示。


2011-12-09    by Waigo
- OK [美术]选人界面，足球的锁太大了，把足球都挡住。人脸和球衣的也类似。是否考虑缩小。
- OK [美术]选人界面，左上角的两个按钮，选中状态，加上一个凹进去的灰色背景。
- OK [程序]按钮的位置，在iPhone下位置不对，在iPad下位置也不舒服。是否考虑做成动态的。
- OK [美术]3,2,1，Goal，这几个字很模糊，是否Size没有设定好？



2011-12-03      by Waigo

- OK [美术] Win 菜单，胜利以后，显示 【Menu】【Next Match】两个按钮。需要美术先制作。
- OK 堵门战术IMBA：当敌人攻近球门前，我方只需站在敌人头上，就可以保证一直顶到球，找机会进攻。
    （是否可以加AI检测，如果玩家站在电脑头顶上，电脑自动后退。）
- OK [美术] 技能点数，每次减少10点？（如何提示用户？去掉第四条bar，显示提示语？） 如果剩余点数<10, 所有【+】都变灰色。如果....，【-】变 灰色。（需要灰色的图片）

- OK 选择关卡菜单：第四第五个角色有点太像了，建议把他们间隔开来。  后面也有两个类似的。
- OK 后面几个角色反而容易赢，因为对方跳得太快太急。



2011-12-02 Updated Images (by Waigo)

OK - 【美术】倒计时图片（3.2.1倒计时）（Menu5_1 game目录下）
OK - 【美术】比分和时间的显示  （Menu5_1 game/level_box.png）上方使用计算器风格的数字。字体在_Fonts目录下。可能字体还得生成一次。
OK - 【美术】SelectPlayer菜单，加锁的图片上面还有个小图标，不必要。直接用锁头就行。(Menu2_0selectplayer目录)
OK - 【美术】射球的图标还是别用足球了，容易跟球场上的足球混淆。（Menu5_1 game/btn_shoot.png）





2011-12-01   Add  (by Waigo)
OK- 有些道具图片变得模糊了，原因是在图片（或者Atlas大图）的导入设置初，勾选了Generate Mid Map，把打钩去掉即可。
OK- 我方球员一开始是站在球门前，这样不好。应该是站在球门与中场线中间的地方。
OK- 球门太高了，球门与人物的大小比例最好参照原作。


2011-11-25   产品上线前剩余的工作  （by Waigo）

OK- 所有角色改成135度旋转，侧脸朝向玩家。
OK- 每局一开始摄像机先盯住人，等它碰了一下球以后，再盯住球
OK- 摄像机上移，为按钮留位置。否则在移动设备上，手指会挡住角色。
OK- 在iOS设备下，摄像机的尺寸。新增一个高度为320的摄像机，检测如果屏幕比例是（960/640），则采用此摄像机。
OK- 一开始让用户点一下，随机解锁两个人给用户。穿的都是训练的球衣。
OK- 每次开球前，会出现 3.2.1倒数读秒。
OK- 进球后的, 会出现Goal！！！的字样。暂停两秒。(需要一个Goal的图片)
OK- 道具图标逐个出现，同期出现不要超过3个？？（2个？）
OK - 制定道具出现的逻辑
     开头一两关先出现少量道具，后面出现的道具数量越来越多。
OK - 石膏腿受伤的逻辑，目前是不是没有？
OK -【美术】游戏图标。512x512
OK- Fail或者Win的窗口出现以后，timeScale = 0; 不再继续生成图标



堆积的未完成的任务：

- OK [美术]暂停，胜利，失败等菜单的按钮，不再使用英文单词，改为使用图标按钮。
- OK [美术]游戏的场景背景。摆放。效果调整。

- [美术]一些模型的头发只有单面贴图，应该改成双面。譬如小小罗的头发。
- [美术]对赚钱，点数的提示。

- OK [程序]倒数那几秒的时候，有"噔.噔.噔.噔...."的声音提示。
- OK [策划]制定一个完整的关卡设定表。明确设定每一关对手的属性（已完成），通关后得到的钱数，有可能出现的道具，道具出现频率，每次触球的经验值，敌人AI中触发大招的频率等等。在Excel表里做好数值设定。

- [美术]在选人UI界面，增加帮助的按钮和弹出对话框。左上角的按钮里增加一个【？】按钮，点击则弹出2页的简要帮助说明。
- [程序]在选人UI界面，增加帮助逻辑。左上角的按钮里增加一个【？】按钮，点击则弹出2页的简要帮助说明。

- Reject [程序]增加一个总体统计，设置统计的项。放入PlayerPref里，做一个Clear Data的按钮。

- 测试联网对战
- OK 人一开始跳得更高。否则用户一开始就没有操控的感觉。

- OK 一开始的时候，随机选中了角色。给用户提示。
- Reject 而且选中的角色排在前面，不需要用户左右选好多个（这个是否容易做？？）



其它：

- OK 音乐

- IAP提交
- More Games页面，直接使用Robot Bros的菜单。（是否可以考虑做成直接访问网页？？？）
OK - About Us页面，使用Robot Bros的About Us，改动一下。
OK - Settings页面。先不做。或者做成游戏统计。

